body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  @include auto-cover;
}

.header-menu {
  animation: fadeIn 0.2s;
  img {
    width: 42%;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .menu_nav i {
    width: 10%;
    height: 50%;
    margin: 4vw auto;
    float: left;
    font-size: 30px;
    @include no-effect-liens;
  }
}

.card {
  position: relative;
}

.menu {
  position: relative;
  margin-top: -50px;
  background-color: rgb(233, 233, 233);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-bottom: 40px;
  padding-right: 20px;

  h1 {
    font-size: 26px;
    font-family: "Shrikhand", cursive;
    display: inline-block;
    margin: 45px 4px 20px 10px;
    padding-left: 20px;
    width: 70%;
  }

  i {
    @include no-effect-liens;
  }

  .like {
    position: absolute;
    bottom: 65px;
    right: 25px;
    font-size: 30px;

    margin-top: 13%;
    width: 15%;
    list-style-type: none;
    .fas {
      position: absolute;
      color: $color-secondary;
      display: none;
    }
    .far {
      float: right;
    }
  }
}

// ---------fas rose & le far a cacher ------------------------------
.like:hover {
  .fas {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    visibility: visible;
    z-index: 100;
    animation: like 1s forwards;
  }
  .far {
    position: relative;
    z-index: 10;
    float: right;
    // color: transparent;
  }
}

#delay1 {
  animation: splash 0.5s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.1s;
}
#delay2 {
  animation: splash 0.5s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.3s;
}
#delay3 {
  animation: splash 0.5s ease-in-out;

  animation-fill-mode: both;
  animation-delay: 0.5s;
}
#delay31 {
  animation: splash 0.7s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.7s;
}
#delay4 {
  animation: splash 0.9s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 0.9s;
}
#delay5 {
  animation: splash 0.7s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1.1s;
}
#delay6 {
  animation: splash 0.7s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1.3s;
}
#delay7 {
  animation: splash 0.9s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1.5s;
}
#delay8 {
  animation: splash 0.9s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 1.7s;
}
#delay9 {
  animation: splash 0.9s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 2s;
}

.card-menu {
  overflow: hidden;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  box-shadow: #d8d8d8 0px 0px 10px;
  background-color: white;
  width: 90%;
  margin: 10px 10px 0px 15px;
  padding-left: 10px;
  padding-bottom: 10px;
  @include no-effect-liens;

  h3 {
    font-size: 17px;
    padding: 0;
    margin: 15px 10px 5px 15px;
  }

  p {
    display: inline;
    font-size: 14px;
    padding: 0;
    margin: 15px 15px 10px 15px;
  }

  strong {
    position: absolute;
    right: 120px;
    font-size: 15px;
    transform: translateX(90px);
    transition: 700ms;
  }
  .fa-check-circle {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
}
.back {
  position: absolute;
  color: white;
  padding: 9px 20px 20px 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: $color-tertiary;
  font-size: 38px;
  right: 0;
  top: 0px;
  transform: translateX(100px);
  transition: 700ms;
}

// ------------------------- elements hidden validation ----------------------------------

.card-menu:hover {
  margin: 10px 0 0px 15px;
  padding: 0px 0 6px 10px;

  strong {
    transform: translateX(-5%);

    transition: transform 400ms ease-in-out;
    display: inline-block;
  }

  .back {
    transform: translateX(0px);
    transition: transform 400ms ease-in-out;
  }
  .fa-check-circle {
    color: white;
    visibility: visible;
    border-radius: 50%;
    animation: rotate-validation 200ms;
    animation-delay: 0.3s;
  }

  // ------------------------rogner P texte avec 3 dot en mode hover ------------------------------
  .roro:hover .p-rogn {
    margin: 1px 0px 0px 0px;

    padding: 1px 0px 0px 15px;
    width: 50%;
    @include rogner;
  }
  h3 {
    width: 93%;
    @include rogner;
  }
}

// ----------------------rogner  hover h3 --------------------------------------------------
.roro:hover h3 {
  max-width: 50%;

  @include rogner;
}

// -----------------------underline green 3 titres de menus --------------------------------------------------
.underline {
  width: 50px;
  border: 2px solid $color-tertiary;
  margin-left: 20px;
}
.entrees h2 {
  font-family: "Roboto", sans-serif;
  margin: 15px 15px 5px 20px;
  font-size: 20px;
}

.plats {
  margin-top: 40px;
}

.plats h2 {
  font-family: "Roboto", sans-serif;
  margin: 15px 15px 5px 20px;
  font-size: 20px;
}

.desserts {
  margin-top: 40px;
}

.desserts h2 {
  font-family: "Roboto", sans-serif;
  margin: 15px 15px 5px 20px;
  font-size: 20px;
}

.cmd {
  @include no-effect-liens;
  text-align: center;
  margin: 50px;
  padding-top: 20px;

  a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0.5px 0.5px 3px 0.5px rgb(99, 97, 97);
    border: none;
    border-radius: 40px;
    padding: 18px 80px 20px 80px;
    outline: none;
    color: white;
    font-size: 15px;
  }

  //  -------------------------brillance bouton au survole --------------------------------------------------
  a:hover {
    filter: brightness(115%);
    box-shadow: 0.5px 0.5px 15px 0.5px rgb(99, 97, 97);
  }
}

//---------------------------------- footer ------------------------------------------------
footer {
  @include footer;
}

// @media (min-width: 568px) {
//   a {
//     display: inline;
//   }
// }

@media (min-width: 1000px) {
  section {
    width: 80%;
    margin-left: 13%;
  }
  // h3,
  // p,
  // strong {
  //   font-size: 21px !important;
  // }

  .roro {
    text-align: center;
  }
}
