$color-primary: #9156dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

@mixin auto-cover {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@mixin no-effect-liens {
  list-style-type: none;
  color: black;
}

@mixin center {
  text-align: center;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: 28px;
  padding-right: 28px;
  font-size: 20px;
}

@mixin underline-green {
  text-decoration: underline $color-tertiary;
  text-decoration-thickness: 2px;
  text-underline-position: under;
  text-underline-offset: 5px;
}

// rogner texte lors du hover menu
@mixin rogner {
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin footer {
  background-color: #414141;
  padding-bottom: 15px;

  svg {
    padding: 10px 10px 0px 20px;
    width: 24%;
    filter: invert(1);
  }

  .footer ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 20px;
  }

  i {
    margin-right: 10px;
    font-size: 12px;
  }
  .fa-utensils {
    margin-right: 9px;
  }
  .fa-hands-helping {
    font-size: 10px;
  }

  li {
    color: white;
    margin-top: 5px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
