//----------------------------------- menu fonctionnement ---------------------------------------
.container {
  margin-top: 10px;
  margin-bottom: 50px;
  animation: fadeIn 2s;

  h2 {
    font-size: 22px;
    margin-left: 15px;
  }
  ul {
    align-items: center;
    justify-content: space-between;
    list-style-type: decimal;
    font-size: 20px;
    margin: 0px 20px 0px 20px;
    padding: 0px 0px 0px 0px;
  }

  a {
    text-decoration: none;
    color: black;
    padding-left: 2%;
    margin-left: 15px;
  }

  li {
    // border: aqua 1px solid;
    list-style: none;
    outline: none;
    padding: 18px 0px 15px 0px;
    margin: auto;
    margin-top: 15px;
    width: 100%;
    white-space: nowrap;
    // font-size: 20px;
    font-size: 1.45rem;
    font-weight: bold;
    border-radius: 35px;
    box-shadow: 0.5px 1px 4px 1px rgb(212, 212, 212);

    p {
      font-weight: bold;
      display: inline-flex;
      color: white;
      border-radius: 50%;
      padding: 5px 10px 5px 10px;
      font-size: 15px;
      transform: translateX(-15px);
      background-color: $color-primary;
    }
  }
  li a {
    display: inline;
    justify-content: center;
    align-items: center;
    // font-size: 3vw;
    text-align: center;
  }
  .fas {
    margin-left: 1px;
    margin-right: 1px;
  }
}

// -------------------------------- menu fonctionnement rendre transparent color primary---------------------------------------
.fa-store:hover {
  color: $color-primary;
}
.main li:hover {
  background-color: rgb(245, 237, 255);
  color: $color-primary;
  box-shadow: 0.5px 1px 4px 1px rgb(165, 165, 165);
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* la largeur du viewport */

@media (max-width: 472px) {
  .container li {
    font-size: 1.2rem;
  }
}

@media (min-width: 868px) {
  body {
    padding: 3rem;
  }
  .container ul {
    display: flex;
    // flex-wrap: wrap;
  }
  .container li {
    white-space: nowrap;
    width: 30%;
    align-items: center;
    font-size: 1rem;
  }
  .wrap {
    display: inline;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}
