//---------------------------------- footer ------------------------------------------------
footer ul {
  animation: fadeIn 2s;
  @include footer;
  font-size: 15px;
}
.li:hover {
  background-color: crimson;
}
